body {
    background: rgb(226, 72, 72);
}

#main-box {
    background: #990909;
    max-width: 1200px;
    margin: auto;
    padding: 5px;
}

ul {
    padding-left: 5px;
}

li {
    list-style-type: none;
}


/* HEADER */
header a img {
    display: block;
    margin: 0 auto;
}

#site-url a{
    color: white;
    text-decoration: none;
}

/* Nav */

.image-galery {
    box-sizing: border-box;
    background: #000000;
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
}

.image-items {
    display: block;
    text-align: center;
    padding: 5px;
    width: 25%;
}

.image-items img {
    width: 100%;
}

.image-items a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* MAIN */

main {
    box-sizing: border-box;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
}

/* SECTION left*/

#left-section {
    background: #7d0909;
    max-width: 200px;
    padding-right: 5px;
    height: 500px;
    overflow-x:hidden;
    font-size: 20px;
}

#left-section a {
    color: #e95b11;
}

/* SECTION center */
#center-section {
    font-size: 20px;
    color: white;
    padding: 0 5px;
    max-width: 700px;
    height: 500px;
    overflow-x: hidden;
}

/* SECTION right */
#right-section {
    background: #e3dddd;
    padding: 0 5px;
    max-width: 300px;
    height: 500px;
    overflow-x: hidden;
}

#right-section h4 {
    background: #bdbdbd;
    text-align: center;
}

#right-section hr {
    width: 50%;
    margin: auto;
}

/* FOOTER */

footer {
    font-size: 20px;
    background: #e95b11;
    text-align: center;
    color: white;
}