@font-face {
    font-family: 'FuturaPT Heavy';
    src: url("../fonts/futura-pt-heavy.otf");
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url("../fonts/proxima-nova/Proxima-Nova-Regular.otf");
}