* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #464f54;
}

.container {
    padding-top: 100px;
}

.page-wrapper {
    background-color: #ffffff;
    max-width: 1060px;
    margin: 0 auto;
}

.page {
    margin-left: 60px;
    border-left: 3px solid lightgrey;
    padding:  0px 132px 10px 60px;
}


/* HEADER */
header {
    padding-top: 30px;
    margin-bottom: 62px;
}

.header-signature {
    margin-bottom: 50px;
    font-family: 'Proxima Nova Regular';
    letter-spacing: 4px;
    font-size: 20px;
    text-transform: uppercase;
    color: #b5b5b5;

}

.header-title {
    font-family: 'FuturaPT Heavy';
    font-size: 78px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.header-caption {
    font-size: 30px;
    color: #8f8f8f;
}

.text {
    font-size: 28px;
    margin-bottom: 40px;
}

.italic {
    font-style: italic;
}

/* ASIDE */
.aside-block {
    position: relative;
    transform: translate(20%, -50%);
    max-width: 960px;
    padding: 50px 60px;
    background-color: #181818;
    color: #ffffff;
}

.aside-description {
    font-family: 'Proxima Nova Regular';
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    opacity: 0.6;
}

.aside-title {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
}

/*Aside ICONS block */
.aside-icons-block {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left: 10%;
    bottom: 0;
    transform: translateY(100%);
    list-style-type: none;
    width: 100%;
    padding: 20px 10px 20px 42px;
    background-color: #f8be2d;
}

.material-icons {
    font-size: 40px;
    opacity: 0.5;
}


/* Mirroring ImageView 'Tt' in icons'*/
.text-fields {
    transform: scaleX(-1);
}


/* ACTIONS */
.material-icons:hover { 
    color: rgba(255, 255, 255, 1); 
    opacity: 1.0;
    cursor: pointer;
}