* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: #ffffff;
}
.header__top {
  flex: 1 1 auto;
}
.header__bottom {
  background-color: #5474fd;
  text-transform: uppercase;
}
.header__inner-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header__inner-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.header__main-block {
  width: 100%;
  max-width: 650px;
}
.header__text-block {
  min-width: 324px;
  padding: 0 5px;
  margin-bottom: 54px;
}
.header__title {
  font-size: 48px;
  text-transform: uppercase;
}
.header__description {
  font-size: 22px;
  letter-spacing: 4px;
  font-weight: 300;
}
.header__logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.header__nav {
  position: relative;
  display: flex;
  justify-content: flex-end;
  min-width: 540px;
}
@media screen and (max-width: 768px) {
  .header__nav {
    width: 100%;
    min-width: unset;
  }
}
.header--background_img-01 {
  background-image: url("../images/image-bg-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}

.nav-toggler {
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.nav-toggler:hover {
  background-color: #6880e8;
}
@media screen and (max-width: 768px) {
  .nav-toggler {
    display: flex;
  }
}

.hamburger-icon {
  fill: #ffffff;
}

.nav-checkbox {
  position: absolute;
  top: -999999px;
  left: -999999px;
  visibility: hidden;
  opacity: 0;
}
.nav-checkbox:checked ~ .nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, -100%);
  background-color: #6880e8;
  max-width: 200px;
}
.nav-checkbox:checked ~ .nav-toggler {
  background-color: #6880e8;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;
  font-family: "Aleo", serif;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}
.nav__item {
  padding: 10px 5px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.nav__item:hover {
  border-color: #ffffff;
  border-color: #ffffff;
}
.nav__link {
  text-decoration: none;
  color: #ffffff;
}

.btn {
  min-width: 224px;
  padding: 20px 5px;
  background-color: #5474fd;
  color: white;
  font-family: "Aleo", serif;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.4);
}

.search-form {
  /* This bit sets up the horizontal layout */
  display: flex;
  flex-direction: row;
  width: 100%;
  border: none;
}
.search-form__button {
  min-width: 150px;
  padding: 20px 5px;
  font-size: 14px;
  border: 1px solid #ffffff;
}
.search-form__input {
  /* Tell the input to use all the available space */
  flex-grow: 1;
  border: none;
  text-align: center;
  font-size: 14px;
  color: #5d5d5d;
}
.search-form__input::placeholder {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
  opacity: 0.5;
}
.search-form__input:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.3);
}

.main__section-inner {
  display: flex;
  justify-content: space-between;
  height: 100%;
  color: #ffffff;
}
.main__section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-right: 15px;
}
.main__section-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 15px;
}
.main__title {
  margin-bottom: 50px;
  font-family: "Aleo", serif;
  font-size: 36px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .main__title {
    font-size: 30px;
  }
}
.main__text {
  margin-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2px;
  font-weight: 300;
  opacity: 0.6;
}
@media screen and (max-width: 992px) {
  .main__text {
    line-height: unset;
  }
}
.main__gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__section {
  height: 100vh;
}
.main__section--background_img-02 {
  background-image: url("../images/image-bg-02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}
.main__section--background_img-03 {
  background-image: url("../images/image-bg-03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main__section--background_img-04 {
  background-image: url("../images/image-bg-04.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main__section--background_img-05 {
  background-image: url("../images/image-bg-05.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}

.gallery__item {
  max-width: 350px;
}
.gallery__picture {
  width: 100%;
}
.gallery__item--shift_left {
  margin-right: 100px;
}
.gallery__item--shift_right {
  margin-left: 100px;
}

/*# sourceMappingURL=style.css.map */
