body {
    max-width: 760px;
    margin: auto;
    padding-top: 5%;
}

main {
    max-width: 760px;
    font-size: 18px;
    margin: auto;

}

footer {
    background: #000000;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}


h1 {
    background: #a52a2a;
    color: #ffffff;
    text-align: center;
}

header img {
    max-height: 300px;
    max-width: 100%
}


.cars{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cars img {
    border: 3px dashed black;
    margin: 2px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.color{
    color: #0000ff;
}





