* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    text-transform: uppercase;
    max-width: 1200px;
    margin: 0 auto;
}

h5 {
    font-size: 12px;
    font-family: "Montserat Bold";
    margin-bottom: 37px;
    opacity: 0.6;
}

header {
    padding-top: 50px;
}
header > p {
    width: 525px;
    margin: auto;
    font-family: "PTSans Regular";
    font-size: 18px;
    opacity: 0.6;
}

main {
    padding-top: 108px;
    margin-bottom: 138px;
}

svg {
    width: 69px;
    height: 69px;
}

.icon-wrapper {
    margin-bottom: 56px;
    padding-top: 55px;
}

ul {
    font-size: 0;
    background-color: #f7f7f7;
}

li {
    display: inline-block;
    width: 25%;
    padding: 5px 17px 94px 17px;
    border: 1px solid #ece2e2;
}

h1 {
    font-size: 48px;
    font-family: "Montserat Regular";
    color: #27b4b6; 
    margin-bottom: 45px;
}

h4 {
    font-size: 21px;
    padding-bottom: 34px;
}

li > p {
    
    font-size: 14px;
    width: 230px;
    margin: auto;
    text-transform: none;
    opacity: 0.7;
}

li:hover {
    background-color: #27b4b6;
    color: #ffffff;
}

li:hover path {
    fill: #ffffff;
}
