$screen-lg: 992px;
$screen-md: 768px;
$screen-sm: 576px;

@mixin position-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


// screen size
@mixin laptop-screen {
    @media screen and (max-width: $screen-lg) {
        @content;
    }
}
// screen size
@mixin tablet-screen {
    @media screen and (max-width: $screen-md) { 
        @content;
    }
}
// screen size
@mixin mobile-screen {
    @media screen and (max-width: $screen-sm) {
        @content;
    }
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.page {
    font-family: 'Lato', sans-serif;
}


//default width for content
.wrapper {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    @include laptop-screen() {
        max-width: 760px;
    }

    @include tablet-screen() {
        max-width: 560px;
    }

    @include mobile-screen() {
        max-width: 480px; 
    }
}


// MAIN SECTION
.main__section {
    background-color: white;
}

.main__background--mod {
    background-color: #f1f8ff;
}

.main__header {
    padding-top: 90px;
    margin-bottom: 70px;    
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    color: #3695ff;
}

.main__text {
    margin-bottom: 110px;    
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    color: #5a5a5a;
}

.list {
    @include position-content-center;
    flex-wrap: wrap;

    .item {
        list-style: none;
        width: 1/3*100%;

        &__wrapper {
            @include position-content-center;
            flex-direction: column;
            margin: 20px 15px;
            margin-bottom: 40px;
        }
        
        &__icon {
            @include position-content-center;
            margin-top: 50px;
            margin-bottom: 30px;
            width: 140px;
            height: 140px;
            border-radius: 70px;
            border: 1.5px solid #c0c8d1;
        }

        &__header {
            @include position-content-center;
            margin-bottom: 30px;
            height: 50px;
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;            
            color: #3677fd;
        }

        &__text {
            @include position-content-center;
            font-size: 16px;
            line-height: 35px;
            text-align: center;
            color: #5a5a5a;
            overflow: hidden;
        }
        
        &__img {
            width: 100%;
        }
    }

    @media only screen and (max-width: $screen-md) {
        .item {
            width: 50%;
        }
    }
    
    @media only screen and (max-width: $screen-sm) {
        .item {
            width: 100%;
        }
    }
}



.list--big {
    padding-bottom: 100px;

    .item__logo {
        list-style: none;
        width: 25%;

        .wrapper__logo {
            @include position-content-center;
            margin: 0 10px;
        }
        .logo__img {
            width: 100%;
        }
    }

    @media only screen and (max-width: $screen-sm) {
        .item__logo {
            margin-bottom: 20px;
            width: 50%;
            
        }
    }
}


// FOOTER SECTION
.footer_background_mod {
    background-image: url("../images/footer-BG-image.png");
    background-repeat: no-repeat;
}

.footer {
    &__inner {
        width: 100%;
        height: 245px;
        @include position-content-center;
    }
    
    &__text {
    
        margin: 0 auto;
        font-family: 'Lato';
        font-weight: 200;
        font-size: 50px;
        color: white;
    }

    @include laptop-screen() {

        .footer__text {
            font-size: 40px;
        }
    }

    @include tablet-screen() {

        .footer__inner{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .footer__text {
            font-size: 30px;
        }
    }

    @include mobile-screen(){

        .footer__inner{
            display: flex;
            flex-direction: column;
        }

        .footer__text {
            font-size: 25px;
        }

    }

    .footer__form-container {
        padding: 10px;
    }

}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color:rgba(102, 102, 102, 0.5);
}

.modal {
    max-width: 810px;
    position: relative;
    padding: 10px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;


    &__close{
        position: absolute;
        top: 5px;
        right: 20px;
        font-size: 40px;
        color: #3687fe;

        &:hover {
            cursor: pointer;
        }
    }
}

.form {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__title {
        margin: 10px;
        font-size: 50px;
        color: #3677fd;
    }

    &__item {
        margin: 10px;
        width: 100%;
        height: 50px;
        padding: 0 10px;
        border-style: solid;
        outline: none;
        font-size: 16px;
        border-radius: 20px;
        border-color: #b7c0c9;
    }

    &__item-textarea {
        margin: 10px;
        width: 100%;
        padding: 10px 10px;
        font-size: 16px;
        border-radius: 20px;
        outline: none;
        resize: none;
        overflow: auto;
        border-color: #b7c0c9;
    }

    &__button {
        margin: 10px;
        padding: 0 10px;
        min-width: 200px;
        max-width: 100%;
        height: 50px;
        font-size: 16px;
        border-radius: 50px;
        outline: none;
        border: none;
        color: white;
        background-color: #3675fd;
    }
}

// HEADER SECTION
.header {

    &__inner {
        position: relative;
        @include position-content-center;
        flex-direction: column;
        font-size: 15px;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        height: 100vh;
        padding: 40px 0;
    }

    //  NAVIGATION
    &__nav {
        position: relative;
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    // header main-block
    &__main-block {
        flex: 1;
        max-width: 820px;
        padding: 5px 5px 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__image-block {
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #ffffff;
        margin: 0 auto 10px;
    }

    &__title {
        font-size: 50px;
        font-weight: 900;
        margin-bottom: 20px;

        @include laptop-screen() {
            font-size: 40px;
        }

        @include tablet-screen() {
            font-size: 30px;
        }

        @include mobile-screen() {
            font-size: 20px;
        }
    }

    &__description {
        font-size: 16px;
        font-weight: 300;
        line-height: 35px;

        @include tablet-screen() {
            font-size: 14px;
            line-height: 25px;
        }

        @include mobile-screen() {
            font-size: 12px;
            line-height: 20px;
        }
    }
    
    // Modifier HEADER (background)
    &--background_mod {
        background-image: url("../images/header-img.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }

    // header button block
    &__button-block {
        // width: 100%;
        // max-width: 204px;
        margin: 0 auto;
    }
}


// photo in header__image-block 
.photo {
    width: 100%;
    border-radius: 50%;
}


//NAVIGATION, Humburger-icon
.nav-toggler {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    
    // ACTION
    &:hover {
        background-color: #3695ff;
    }
    
    @include tablet-screen() {
        display: flex;
    }
}

.hamburger-icon {
    fill: #ffffff;
}


// CHECKBOX and :checked in Navigation
.checkbox {
    position: absolute;
    top: -999999px;
    left: -999999px;
    visibility: hidden;
    opacity: 0;
    
    &:checked ~ .menu {
        position:absolute;
        top: 100%;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: #3680fe;
        max-width: 150px;
        
        @include mobile-screen() {
            max-width: 100%;
        }
    }
    
    &:checked ~ .nav-toggler {
        background-color: #3695ff;
    }
}


// MENU
.menu {
    display:flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 100%;
    max-width: 400px;
    
    @include tablet-screen() {
        display: none;
    }
    
    // MENU ITEM
    &__item {
        padding: 10px 5px;
        width: 1 / 4 * 100%;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        
        @include tablet-screen() {
            width: 100%;
        }
        
        // ACTION
        &:hover {
            border-color: #71beeb;
            border-color: #71beeb;
        }
    }
    
    // MENU link
    &__link {
        text-decoration: none;
        color: #ffffff;
    }
}


// BUTTON
.btn {
    min-width: 205px;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    
    &--size {
        font-weight: 700;
        border-radius: 30px;
        padding: 20px 10px;
        color: #3695ff;
        background-color: #ffffff;
        border: none;
        
        @include tablet-screen() {
            padding: 15px 10px;
        }
        
        @include mobile-screen() {
            padding: 10px;
        }
    }
    
    // ACTION
    &:hover {
        box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.3);
    }
}


// SCROLL ICON
.scroll-icon {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    padding-bottom: 10px;

    @include mobile-screen() {
        display: none;
    }
}



