@font-face {font-family: "Druk Text Wide Regular"; 
    src: url("../fonts/Druk-Text-Wide-Regular/Druk-Text-Wide-Regular.eot"); 
    src: url("../fonts/Druk-Text-Wide-Regular/Druk-Text-Wide-Regular.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Druk-Text-Wide-Regular/Druk-Text-Wide-Regular.woff2") format("woff2"), 
    url("../fonts/Druk-Text-Wide-Regular/Druk-Text-Wide-Regular.woff") format("woff"), 
    url("../fonts/Druk-Text-Wide-Regular/Druk-Text-Wide-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
// @font-face {font-family: "Druk Text Wide Regular"; 
//     src: url("../fonts/Druk-Text-Wide/DrukTextWide-Medium.ttf") format("truetype"); 
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {font-family: "Druk Text Wide Bold";
    src: url("../fonts/Druk-Text-Wide/DrukTextWide-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; 
}

@font-face {font-family: "Druk Text Wide Heavy";
    src: url("../fonts/Druk-Text-Wide/DrukTextWide-Heavy.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; 
}

@font-face {font-family: "Codac Pro Regular"; 
    src: url("../fonts/codec-pro-cufonfonts/CodecPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

