@mixin screen-large {
    @media screen and (max-width: 960px){
        @content;
    }
}

@mixin screen-medium {
    @media screen and (max-width: 720px){
        @content;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* PAGES */
.page {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
    
    /* PAGES inner */
    &__inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-width: 1200px;
        padding-top: 40px;
        margin: 0 auto;
    }

    // Modifier page bakckground
    &_background_first {
        position: relative;
        background-image: url('../images/image-01.1.jpg');
        height: 100vh;

        @include screen-medium() {
            background-position: top left;
        }
    }
    
    &_background_second {
        background-image: url('../images/image-02.jpg');
        height: 100vh;

        @include screen-large() {
            background-position: top right;
        }
    }
}



/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    position: relative;

    &__menu-icon {
        display: none;
        align-items: center;
        margin-right: 20px;

        @include screen-medium() {
            display: flex; 
        }
        
        &:hover {
            cursor: pointer;
        }

        &:hover + .nav {
            display: block;
            position: absolute;
            right: 0;
            top: 100%;
            width: 100%;
            background: #ffffff;
            cursor: pointer;
        
        }

    }

}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

/* NAVIGATION */
.nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 0;

    @include screen-large(){
        max-width: 500px;
    }

    @include screen-medium() {
        display: none;
    }

    
    &__item {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 10px 10px;
    
        @include screen-large(){
            width: 1/3 * 100%;
        }

        @include screen-medium() {
            width: 100%;
            font-size: 20px;
            padding: 20px 10px;
            text-align: center;
            border-top: 1px solid black;
        }
    }
    
    &__link {
        text-decoration: none;
        color: #000000;
        padding: 5px 5px;
    }

    /* ACTIONS */
    &__item:hover &__link {
    border-top: 3px solid #ff6033;
    }
}



/* MAIN */
.main {
    display: flex;
    align-items: center;
    padding: 0 15px;
    flex: 1;

    @include screen-medium(){
        justify-content: center;
        text-align: center;
    }
    
    &__description {
        width: 370px;
    }
    
    &__title {
        font-size: 60px;
        font-weight: 900;
        margin-bottom: 34px;
    }
    
    &__text {
        max-width: 370px;
        margin-bottom: 34px;
        font-size: 17px;
        font-weight: 300;
    }
    
    &__button {
        max-width: 200px;

        @include screen-medium(){
            margin: 0 auto;
        }
    }

}


/* button */
.btn {
   text-transform: uppercase;
   padding: 20px 10px;
   width: 100%;

    //modifier
   &_mod_one {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        font-weight: 300;
        background: #ff6033;
        color: #ffffff;
   }

    &:hover {
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }
}

// ICON scroll
.scroll-icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -100%);

    @include screen-medium() {
        display: none;
    }
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    color: #ffffff;
    padding: 0 15px;

    @include screen-large(){
        justify-content: center;
        text-align: center;
    }
    
    &__description {
        width: 500px;
    }
    
    &__title {
        font-size: 90px;
        font-weight: 700; 
        margin-bottom: 30px;
    }
    
    &__text {
        margin-bottom: 20px;
        font-size: 17px;
        font-weight: 300;
    }
}





