// font-family: 'Open Sans', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto', sans-serif;

$color-main: #ffcc00;
$width-block_half: 50%;

// places content in the center of the block
%position-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

%fonts-primary {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    padding: 0 15px
}

// HEADER
.header {
    position: relative;
    padding: 40px 5px 0 5px;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
    
    &__title {
        font-family:'Roboto', sans-serif;
        font-weight: 700;
        font-size: 60px;
        color: $color-main;
    }

    &__description {
        @extend %fonts-primary;
        opacity: 0.7;
    } 
    
    // added horizontal line after header
    &::after {
        content: "";
        display:block;
        max-width: 500px;
        height: 1px;
        margin: 20px auto 0 auto;
        background-color: $color-main;
    }
    
    //added the icon in the center horizontal line
    &__icons {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        fill: $color-main;
        background-color: white;
    }
}

// MAIN
.main{
    display: flex;
    font-size: 0;
    flex: 1;

}

// SECTIONS
.section {
    @extend %position-center;
    text-align: center;
    width: $width-block_half;
    font-size: 14px;
    padding: 40px 5px;    
    
    //left section
    &__inner_first {
        @extend %position-center;
    }
    
    //right section
    &__inner_second {
        @extend %position-center;
        justify-content: space-between;
        height: 100%;
        max-width: 430px;
        padding: 0 5px;
    }

    &__title {
        font-family:'Roboto', sans-serif;
        font-size: 36px;
        font-weight: 700;
        opacity: 0.7;
    }

    &__subtitle {
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
    }

    &__description {
       @extend %fonts-primary;
       line-height: 24px;
    }

    //block icons
    &__social {
        width: 100%;
    }

    //modify section
    &_border_right {
        border-right: 1px solid $color-main;
    }
    
}

// block SOCIAL
.social {
    display: flex;
    justify-content: center;
    font-size: 0;
}

.item-social {
    @extend %position-center;
    list-style-type: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #cccccc;
    margin: 0 5px;
    
    &:hover {
        border-color: #7380f3;
    }
    
    &:hover .icons {
        fill: #7380f3;
    }
}

// ICONS
.icons {
    width: 20px;
    height: 20px;
    fill: #cccccc; 
}


// BUTTON
.btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background-color: #fff;
    text-transform: uppercase; 
    border: 1px solid $color-main;
    padding: 5px 15px;
    

    &:hover {
        box-shadow: 0 2px 11px rgba(0, 0, 0, 0.4);
    }
}

// picture section__inner_first
.picture {
    border: 1px solid $color-main;
}







