
article {
    text-align: center;
    font-size: 14px;
    width: 230px;
    font-family: "Proxima Nova", sans-serif;
}

.round {
    box-sizing: border-box;
    width: 65px;
    height: 65px;
    background:#1c7bc3;
    border-radius: 50%;
    border: 1px solid #1c7bc3;
    margin: auto;
}

.round:hover {
    background: #2a69a6;
    border: 1px solid white;
}

img {
    display: block;
    margin: auto;
    padding-top: 17px;
   }

   h2 {
       text-transform: uppercase;
   }

   p {
    opacity: 0.7;
   }


 
