
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section {
    font-size: 0;
    max-width: 960px;
    margin: 0 auto;
}

/* COLUMN-BLOCK */
article {
    display: inline-block;
    text-align: center;
    width: 33.33%;
    height: 290px;
    font-size: 0;
    font-family: "Proxima Nova", sans-serif;
    padding-top: 56px;
}

/* image */
.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 

    background: #1275b9;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    border: 1px solid #1275b9;
    transition: background 0.2s;
    cursor: pointer;
    margin: 0 auto 20px auto;
}

.icon-wrapper:hover {
    background: white;
}

.icon-wrapper:hover path {
    fill: #1275b9;
}


.title {
    text-transform: uppercase;
    margin-bottom: 22px;
    font-size: 14px;
}

.text-description {
    max-width: 240px;
    font-size: 14px;
    line-height: 20px;
    opacity: 0.7;
    margin: 0 auto;
}


 
