.section, .section__inner_first, .section__inner_second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.header__description, .section__description {
  font-family: 'Raleway', sans-serif;
  font-weight: 500; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  padding: 0 15px; }

.header {
  padding: 40px 5px 0 5px;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center; }
  .header__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #ffcc00; }

.main {
  display: flex;
  font-size: 0;
  flex: 1; }

.section {
  text-align: center;
  width: 50%;
  font-size: 14px;
  padding: 40px 5px; }
  .section__inner_second {
    justify-content: space-between;
    height: 100%;
    max-width: 430px;
    padding: 0 5px; }
  .section__title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700; }
  .section__subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 24px; }

.social {
  display: flex;
  flex-flow: row; }

.item-social {
  border-radius: 50%;
  border: 1px solid blue; }

.icons {
  width: 30px;
  height: 30px; }

.picture {
  border: 1px solid #ffcc00; }

.item-social {
  list-style-type: none; }

.btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  background-color: #fff;
  text-transform: uppercase;
  border: 1px solid #ffcc00;
  padding: 5px 15px; }

.btn:hover {
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.4); }
