.section, .section__inner_first, .section__inner_second, .item-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.header__description, .section__description {
  font-family: 'Raleway', sans-serif;
  font-weight: 500; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  padding: 0 15px; }

.header {
  position: relative;
  padding: 40px 5px 0 5px;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center; }
  .header__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #ffcc00; }
  .header__description {
    opacity: 0.7; }
  .header::after {
    content: "";
    display: block;
    max-width: 500px;
    height: 1px;
    margin: 20px auto 0 auto;
    background-color: #ffcc00; }
  .header__icons {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    fill: #ffcc00;
    background-color: white; }

.main {
  display: flex;
  font-size: 0;
  flex: 1; }

.section {
  text-align: center;
  width: 50%;
  font-size: 14px;
  padding: 40px 5px; }
  .section__inner_second {
    justify-content: space-between;
    height: 100%;
    max-width: 430px;
    padding: 0 5px; }
  .section__title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    opacity: 0.7; }
  .section__subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 24px; }
  .section__description {
    line-height: 24px; }
  .section__social {
    width: 100%; }
  .section_border_right {
    border-right: 1px solid #ffcc00; }

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0; }

.item-social {
  list-style-type: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #cccccc;
  margin: 0 5px; }
  .item-social:hover {
    border-color: #7380f3; }
  .item-social:hover .icons {
    fill: #7380f3; }

.icons {
  width: 20px;
  height: 20px;
  fill: #cccccc; }

.btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  background-color: #fff;
  text-transform: uppercase;
  border: 1px solid #ffcc00;
  padding: 5px 15px; }
  .btn:hover {
    box-shadow: 0 2px 11px rgba(0, 0, 0, 0.4); }

.picture {
  width: 100%;
  border: 1px solid #ffcc00; }
