<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue router</title>
</head>

<style>
    .item__register {
        background-color: lightgreen;
        padding: 10px;
    }

    .item__login {
        background-color: lightblue;
        padding: 10px;
    }


    .item__block {
        display: flex;
        /* max-width: 500px; */
    }

    .item__picture {
        max-width: 300px;
    }

    .item__description {
        width: 50%;
        padding-left: 30px;
    }

    .photo {
        width: 100%;
    }

    .picture {
        max-width: 100px;
    }
</style>

<body>


    <!-- join Vue -->
    <div id="app">


        <router-link to="/login">LOGIN</router-link>
        <router-link to="/register">REGISTER</router-link>
        <router-link to="/cats">CATS</router-link>
        <!-- redirect to /login page -->
        <button v-on:click="logOut">Log out</button>

        <!-- view -->
        <router-view></router-view>

    </div>

    <!-- vue connect -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- axios connect -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- router connect  -->
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <script>

        // Create components CapPage, LoginPage, RegisterPage

        // CATS Page components
        const CatDetails = {
            data: function () {
                return {
                    token: '',
                    cat: {},
                }
            },

            mounted() {
                this.token = localStorage.getItem('token');
                this.getCatDetails();
            },

            methods: {
                getCatDetails: function () {
                    axios
                        .get(`http://46.101.202.248:9001/cats/${this.$route.params.id}?token=${this.token}`)

                        .then((response) => {
                            console.log(response.data);

                            this.cat = response.data;

                        });
                },

            },

            template: `
                <div>
                    <!-- SHOW CAT -->
                    <h1>Cat details</h1>
                        <li>
                            
                            <div class = item__block>
                                <div class="item__picture">
                                    <img class="photo" v-bind:src="cat.picture" alt="picture cat">
                                </div>
                            
                                <div class="item__description">
                                    <div> {{ cat.description }} </div>    
                                    <div> <b>Favorite cat's color:</b> {{ cat.color }} </div>
                                </div>
                            </div>

                            
                        </li>
                    </ul>
                    
                </div>
            `
        }



        // CATS List Page components
        const CatsListPage = {
            data: function () {
                return {

                    token: '',
                    cats: [],

                }
            },

            mounted() {
                this.token = localStorage.getItem('token');
                this.getCatsList();
            },

            methods: {
                getCatsList: function () {
                    axios
                        .get(`http://46.101.202.248:9001/cats?token=${this.token}`)

                        .then((response) => {
                            console.log(response.data);
                            this.status = response.data.status;
                            this.message = response.data.message;

                            //    get array cats
                            this.cats = response.data;
                            console.log(response.data);

                        });
                },

            },

            template: `
                <div>
                    <!-- SHOW CAT -->
                    <h1>Cat's photo</h1>
                    <ul v-for="(cat, index) of cats ">
                        <li>
                            {{ index + 1 }}

                            <span class="picture">
                                <img v-bind:src="cat.picture" alt="picture cat">
                            </span>

                            <!-- create link to singe cat, it has id -->
                            <router-link v-bind:to="'/cats/' + cat.id">{{ cat.name }}</router-link>

                        </li>
                    </ul>
                    
                </div>
            `
        }

        // LOGIN page components
        const LoginPage = {
            data: function () {
                return {
                    user: {
                        email: '',
                        password: '',
                    }
                }

            },

            methods: {
                //conntect this method to form 'login'
                submitLoginForm: function () {
                    axios
                        .post(' http://46.101.202.248:9001/login', {
                            email: this.user.email,
                            password: this.user.password,
                        })

                        .then((response) => {
                            console.log(response.data);
                            this.status = response.data.status;
                            this.message = response.data.message;
                            // get token
                            this.token = response.data.token;
                            // add token to LocalStorage
                            this.addTokenToLocalStorage(this.token);
                            // redirect to cats page (CatsListPage)
                            this.$router.push('/cats');
                        });
                },

                addTokenToLocalStorage(valueToken) {
                    localStorage.setItem('token', valueToken);
                },
            },

            template:

                `<div>
                    <!-- LOGIN FORM -->
                    
                    <div class="item__login">
                        <h1 class="item__title">LOGIN</h1>

                        <form v-on:submit.prevent="submitLoginForm" action="">

                            <input v-model="user.email" type="text" placeholder="username">

                            <input v-model="user.password" type="password" placeholder="password">

                            <input type="submit">

                        </form>
                    
                    </div>       

                </div>`,
        }

        // REGISTER page components
        const RegisterPage = {
            data: function () {
                return {
                    user: {
                        email: '',
                        password: '',
                    }
                }
            },

            methods: {
                submitRegisterForm: function () {
                    axios
                        .post('http://46.101.202.248:9001/register', {
                            email: this.user.email,
                            password: this.user.password,
                        })

                        .then((response) => {
                            console.log(response.data);
                            this.status = response.data.status;
                            this.message = response.data.message;
                        });
                },

            },

            template:

                `<div>
                    <!-- REGISTER FORM -->

                    <div class="item__register">                        
                        <h1 class="item__title">REGISTER</h1>   
    
                        <form v-on:submit.prevent="submitRegisterForm" action="">
                            <input v-model="user.email" type="text" placeholder="username">
                       
                            <input v-model="user.password" type="password" placeholder="password">
                        
                            <input type="submit">
    
                        </form>
                    </div>
                    
                </div>`,
        }



        // 2. Определяем несколько маршрутов
        // Каждый маршрут должен указывать на компонент.

        const routes = [
            //example: '/login' set to HTML <router-link to="/login">LOGIN</router-link>
            { path: '/login', component: LoginPage },
            { path: '/register', component: RegisterPage },
            { path: '/cats', component: CatsListPage },
            { path: '/cats/:id', component: CatDetails }
        ]

        // 3. Создаём экземпляр маршрутизатора и передаём маршруты в опции `routes`
        const router = new VueRouter({
            routes // сокращённая запись для `routes: routes`
        })


        const app = new Vue({
            router,
            methods: {
                logOut: function () {
                    localStorage.removeItem('token');
                    this.$router.push('/login');
                }
            }
        }).$mount('#app')

    </script>


</body>

</html>