* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background:  #41a7da;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 50px 5px 5px 5px;
    color: white;
    font-family: "Lucida Sans Unicode", sans-serif;
}

/* HEADER */
header {
    margin-bottom: 20px;
}


/* MAIN */
main {
    margin-bottom: 30px;
}

ul {
    text-align: center;
    font-size: 0;
    border: 1.5px solid #ffffff;
}

li {
    display: inline-block;
    width: 25%;
    font-size: 14px;
    padding: 15px 0;
    border: 1.5px solid #ffffff;
}

/*background blocks */

.lisbon {
    background-color: #2793cb;
}

.paris {
    background-color: #24bdc8;
}

.belgrad {
    background-color: #966f97;
}

.moscow {
    background-color: #c75444;
}

.telaviv {
    background-color: #e97145;
}

.cair {
    background-color: #ffca5f;
}

.newyork {
    background-color: #95c297;
}

.newdalhi {
    background-color: #609394;
}

.sanfrancisco {
    background-color: #cf7294;
}

.tokyo {
    background-color: #298c65;
}

.sydney {
    background-color: #646996;
}


/* change WIDTH blocks */
.half {
    width: 50%;
}

.whole {
    width: 100%;
}


/* Weather Icons */
span {
    display: block;
    opacity: 0.7;
    padding-top: 5px;
    font-family: “Lucida Grande”, sans-serif;
}

span > i {
    font-size: 20px; 
}


/* Actions */
ul:hover li{
    opacity: 0.5;
    transition: all .1s ease-in;
}

ul:hover li:hover{
    opacity: 1.0;
    transition: all .1s ease-in;
}

