@font-face {
  font-family: "Druk Text Wide Regular";
  src: url("../fonts/Druk-Text-Wide-Regular/Druk-Text-Wide-Regular.eot");
  src: url("../fonts/Druk-Text-Wide-Regular/Druk-Text-Wide-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Druk-Text-Wide-Regular/Druk-Text-Wide-Regular.woff2") format("woff2"), url("../fonts/Druk-Text-Wide-Regular/Druk-Text-Wide-Regular.woff") format("woff"), url("../fonts/Druk-Text-Wide-Regular/Druk-Text-Wide-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Druk Text Wide Bold";
  src: url("../fonts/Druk-Text-Wide/DrukTextWide-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Druk Text Wide Heavy";
  src: url("../fonts/Druk-Text-Wide/DrukTextWide-Heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Codac Pro Regular";
  src: url("../fonts/codec-pro-cufonfonts/CodecPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.mark {
  color: #D91F1F;
}

.mark-02 {
  color: #E8C512;
}

.page {
  background-color: #E5E5E5;
}

.wrapper {
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header__top {
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../images/img-background-01.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header__bottom {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #D91F1F;
  min-height: 96px;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
}
.header__items-block {
  position: relative;
  height: 170px;
  width: 170px;
}
.header__item {
  position: absolute;
  z-index: 2;
  transform: rotate(45deg);
  width: 170px;
  height: 170px;
  border: 5px solid #000;
  border-radius: 15px;
  background-color: #D91F1F;
  transition: all 0.5s;
  cursor: pointer;
}
.header__item--above {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__item--above:hover {
  transform: rotate(45deg) translate(-15px, 5px);
}
.header__item--under {
  z-index: 1;
  border: 2px solid #000;
  background-color: #464646;
  box-shadow: inset -5px 5px 10px rgba(0, 0, 0, 0.75);
}
.header__text-block {
  text-align: center;
  transform: rotate(-45deg);
  text-transform: uppercase;
  color: #fff;
}
.header__title {
  font-family: "Druk Text Wide Regular";
  font-size: 44px;
}
.header__description {
  font-size: 15px;
  color: #000;
  font-family: "Druk Text Wide Bold";
}
.header__img-block-01 {
  position: absolute;
  display: block;
  bottom: -5px;
  left: 0;
  max-width: 350px;
}
.header__img-block-02 {
  position: absolute;
  bottom: -5px;
  right: 280px;
  max-width: 304px;
}
.header__img-block-03 {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 314px;
}

.image {
  width: 100%;
}

.slogan {
  font-family: "Druk Text Wide Heavy";
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
}

.lines-decor {
  position: absolute;
  z-index: 10;
  height: 3px;
  width: 100%;
}
.lines-decor--type_01 {
  top: 35px;
  background-color: rgba(20, 16, 16, 0.75);
}
.lines-decor--type_01::before {
  content: "";
  height: 5px;
  width: 100%;
  display: block;
  position: absolute;
  top: -20px;
  background-color: #141010;
}
.lines-decor--type_01::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -15px;
  background-color: rgba(20, 16, 16, 0.5);
}
.lines-decor--type_02 {
  bottom: 35px;
  background-color: rgba(20, 16, 16, 0.75);
}
.lines-decor--type_02::before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top: -15px;
  background-color: rgba(20, 16, 16, 0.5);
}
.lines-decor--type_02::after {
  content: "";
  height: 5px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: -20px;
  background-color: #141010;
}
.lines-decor--type_03 {
  top: 35px;
  background-color: #E8C512;
}
.lines-decor--type_03::before {
  content: "";
  height: 5px;
  width: 100%;
  display: block;
  position: absolute;
  top: -20px;
  background-color: #E8C512;
}
.lines-decor--type_03::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -15px;
  background-color: #E8C512;
}
.lines-decor--type_04 {
  top: 10px;
  background-color: #141010;
}
.lines-decor--type_04::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -15px;
  background-color: #141010;
}
.lines-decor--type_05 {
  bottom: 20px;
  background-color: rgba(20, 16, 16, 0.75);
}
.lines-decor--type_05::before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top: -15px;
  background-color: rgba(20, 16, 16, 0.5);
}

.section {
  position: relative;
}
.section__text-block {
  font-family: "Druk Text Wide Bold";
  text-transform: uppercase;
  text-align: center;
}
.section__title {
  font-size: 72px;
  color: #E8C512;
}
.section__motto {
  font-size: 36px;
  color: #D91F1F;
}
.section__top {
  min-height: 300px;
  background-color: #BA3D21;
  border-bottom: 5px solid #000;
}
.section__bottom {
  font-size: 0;
  background-color: #E8C512;
  padding-top: 100px;
}
.section--01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 1200px;
  background-image: url(../images/img-background-02.png);
  background-position: center;
}
.section--02 {
  background-color: #E8C512;
  border-top: 5px solid #000000;
  border-bottom: 5px solid #000000;
}
.section--03 {
  padding: 100px 0;
  background: linear-gradient(64.84deg, #28282E -15.87%, #29293B 182.57%);
}
.section--04 {
  background-color: #BA3D21;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
}
.section--carousel {
  padding: 100px 0;
  min-height: 500px;
  background-color: #E8C512;
}
.section__phablet {
  min-height: 630px;
  width: 100%;
  max-width: 322px;
  border: 3px solid #000000;
  border-radius: 20px;
  background: linear-gradient(165.25deg, #E8C512 51.93%, #D91F1F 123.85%);
}
.section__slogan-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 42px 15px;
}
.section__slogan {
  font-size: 38px;
  font-weight: 900;
}

.list__buttons {
  position: relative;
  width: 400px;
  height: 220px;
}
.list__buttons--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-btn {
  display: block;
  position: absolute;
  bottom: 0;
}
.padding-btn--center {
  max-width: 400px;
}
.padding-btn--right {
  left: 0;
  max-width: 387px;
}
.padding-btn--left {
  right: 0;
  max-width: 387px;
}

.button {
  display: block;
  position: absolute;
  bottom: 0;
  max-width: 387px;
  transition: all 0.5s;
  cursor: pointer;
}
.button--center {
  max-width: 400px;
}
.button--right {
  left: 0;
}
.button--left {
  right: 0;
}
.button__text-block {
  position: absolute;
  display: block;
  max-width: 200px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}
.button__text-block--left {
  bottom: 50px;
  right: 30px;
}
.button__text-block--right {
  bottom: 50px;
  left: 30px;
}
.button__title {
  font-family: "Druk Text Wide Regular";
  font-size: 18px;
  color: #FFD703;
}
.button__title--mod_1 {
  color: #BA3D21;
}
.button__description {
  margin-top: 5px;
  font-family: "Codac Pro Regular";
  font-size: 14px;
  color: #FFD703;
}
.button__description--mod_1 {
  color: #BA3D21;
}

.list__buttons:hover .button--center,
.list__buttons:hover .button__text-block {
  transform: translateY(-10px);
}

.list__buttons:hover .button--right,
.list__buttons:hover .button__text-block--right {
  transform: translate(-10px, -10px);
}

.list__buttons:hover .button--left,
.list__buttons:hover .button__text-block--left {
  transform: translate(10px, -10px);
}

.item {
  display: flex;
  flex-direction: row;
}
.item__section {
  width: 50%;
  padding: 0 30px;
}
.item__section--end {
  display: flex;
  justify-content: flex-end;
}
.item__section-center {
  display: flex;
  justify-content: center;
}

.phablet__title-block {
  max-width: 180px;
  margin: 0 auto;
  text-align: center;
  background-color: black;
  color: #DE970C;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px 10px;
  text-transform: uppercase;
}
.phablet__message-block {
  padding-top: 40px;
}
.phablet__message {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 295px;
  min-height: 116px;
  padding: 15px;
  margin-bottom: 40px;
}
.phablet__message--mod_1 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #BA3D21;
}
.phablet__message--mod_1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 30px;
  transform: translateY(-50%) rotate(45deg);
  display: block;
  height: 12px;
  width: 12px;
  background-color: inherit;
}
.phablet__message--mod_2 {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #ffffff;
}
.phablet__message--mod_2::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 30px;
  transform: translateY(-50%) rotate(45deg);
  display: block;
  height: 12px;
  width: 12px;
  background-color: inherit;
}
.phablet__text {
  font-size: 20px;
  color: #fff;
}
.phablet__text--mod_1 {
  color: #000000;
}

.section__inner {
  display: flex;
  flex-direction: row;
}

.section__item {
  display: flex;
  width: 50%;
}

.section__item--left {
  justify-content: center;
}

.section__item--right {
  align-items: center;
}

.item__step {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 485px;
  margin-bottom: 42px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
}

.item__step--mod_1 {
  margin-left: 50px;
}

.item__step--mod_2 {
  margin-left: 100px;
}

.item__step--mod_3 {
  margin-left: 150px;
}

.item__description {
  font-family: "Druk Text Wide Heavy";
  font-size: 16px;
  position: absolute;
  padding-left: 40px;
}

.section__img-block-01 {
  position: absolute;
  bottom: -5px;
  right: 0;
  max-width: 200px;
}

.slider__item {
  padding-bottom: 30px;
}
.slider__content {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.slider__image-block {
  display: block;
  padding: 0 5px;
  max-width: 240px;
  bottom: 0;
}
.slider__image-block--show {
  position: absolute;
  z-index: -1;
}

.slider__content:hover .slider__image-block--show {
  z-index: 2;
}

.section__button-block {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.button-block__inner {
  display: flex;
  flex-direction: row;
}

.button-small,
.button-small-padding {
  max-width: 265px;
  transition: 0.5s all;
}

.button-long,
.button-long-padding {
  display: block;
  width: 400px;
  transition: 0.5s all;
}

.button-block__item {
  position: relative;
  padding: 0 30px;
}

.button-small,
.button-long {
  position: absolute;
  top: 0;
}

.button-long:hover {
  transform: translate(10px, 10px);
}

.button-small:hover {
  transform: translate(10px, 10px);
}

.picture-box {
  margin: 0 auto;
  max-width: 494px;
}

.footer {
  background-color: #000;
  color: #FFD703;
}

/*# sourceMappingURL=style.css.map */
