* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.page {
  background-color: #E5E5E5; }

.wrapper {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto; }

.header {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.header__top {
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../images/img-background-01.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.header__bottom {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #D91F1F;
  min-height: 96px;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000; }

.header__items-block {
  position: relative;
  height: 170px;
  width: 170px; }

.header__item {
  position: absolute;
  z-index: 2;
  transform: rotate(45deg);
  width: 170px;
  height: 170px;
  border: 5px solid #000;
  border-radius: 15px;
  background-color: #D91F1F;
  transition: all 0.5s;
  cursor: pointer; }

.header__item--above {
  display: flex;
  justify-content: center;
  align-items: center; }

.header__item--above:hover {
  transform: rotate(45deg) translate(-15px, 5px); }

.header__item--under {
  z-index: 1;
  border: 2px solid #000;
  background-color: #464646;
  box-shadow: inset -5px 5px 10px rgba(0, 0, 0, 0.75); }

.header__text-block {
  text-align: center;
  transform: rotate(-45deg);
  text-transform: uppercase;
  color: #fff; }

.header__title {
  font-size: 44px; }

.header__description {
  font-size: 15px;
  color: #000; }

.lines-decor {
  position: absolute;
  z-index: 10;
  height: 3px;
  width: 100%;
  background-color: rgba(20, 16, 16, 0.75); }

.lines-decor--type_01 {
  top: 35px; }

.lines-decor--type_01::before {
  content: '';
  height: 5px;
  width: 100%;
  display: block;
  position: absolute;
  top: -20px;
  background-color: #141010; }

.lines-decor--type_01::after {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -15px;
  background-color: rgba(20, 16, 16, 0.5); }

.lines-decor--type_02 {
  bottom: 35px; }

.lines-decor--type_02::before {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  top: -15px;
  background-color: rgba(20, 16, 16, 0.5); }

.lines-decor--type_02::after {
  content: '';
  height: 5px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: -20px;
  background-color: #141010; }

.section {
  position: relative;
  min-height: 500px; }

.header__img-block-01 {
  position: absolute;
  display: block;
  bottom: -5px;
  left: 0;
  max-width: 350px; }

.header__img-block-02 {
  position: absolute;
  bottom: -5px;
  right: 280px;
  max-width: 304px; }

.header__img-block-03 {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 314px; }

.image {
  width: 100%; }

.slogan {
  font-size: 24px;
  text-transform: uppercase;
  color: #fff; }

.section--01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 1200px;
  background-image: url(../images/img-background-02.png);
  background-position: center;
  background-size: cover; }

.section__text-block {
  text-transform: uppercase;
  text-align: center; }

.section__title {
  font-size: 72px;
  color: #E8C512;
  text-shadow: 2px   0  0  #D91F1F,  -2px   0  0  #D91F1F,  0    2px 0  #D91F1F,  0   -2px 0  #D91F1F,  1px  1px 0  #D91F1F,  -1px -1px 0  #D91F1F,  1px -1px 0  #D91F1F,  -1px  1px 0  #D91F1F, 1px  1px 5px #D91F1F; }

.section__motto {
  font-size: 36px;
  color: #D91F1F;
  text-shadow: 1px   0  0  #E8C512,  -1px   0  0  #E8C512,  0    1px 0  #E8C512,  0   -1px 0  #E8C512,  1px  1px 0  #E8C512,  -1px -1px 0  #E8C512,  1px -1px 0  #E8C512,  -1px  1px 0  #E8C512, 1px  1px 3px #E8C512; }

.list__images {
  position: relative;
  width: 400px;
  height: 220px; }

.paddingBtn-right {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 387px; }

.button-right {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 387px;
  transition: all 0.5s; }

.paddingBtn-left {
  display: block;
  position: absolute;
  bottom: 0%;
  right: 0;
  max-width: 387px; }

.button-left {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 387px;
  transition: all 0.5s; }

.paddingBtn-center {
  display: block;
  position: absolute;
  bottom: 0%;
  left: 3px;
  max-width: 400px; }

.button-center {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 400px;
  transition: all 0.5s; }

.button-center:hover {
  transform: translateY(-10px); }

.button-right:hover {
  transform: translate(-10px, -10px); }

.button-left:hover {
  transform: translate(10px, -10px); }

.item {
  display: flex;
  flex-direction: row; }

.item__section {
  width: 50%;
  padding: 0 30px; }

.item__section--end {
  display: flex;
  justify-content: flex-end; }

.item__section-center {
  display: flex;
  justify-content: center; }

/*# sourceMappingURL=style.css.map */
