$screen-lg: 992px;
$screen-md: 768px;
$screen-sm: 576px;

@mixin background-cover-norepeat {
    background-size: cover;
    background-repeat: no-repeat;
}

// screen size
@mixin laptop-screen {
    @media screen and (max-width: $screen-lg) {
        @content;
    }
}
// screen size
@mixin tablet-screen {
    @media screen and (max-width: $screen-md) { 
        @content;
    }
}
// screen size
@mixin mobile-screen {
    @media screen and (max-width: $screen-sm) {
        @content;
    }
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

//default width for content
.wrapper {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}


// HEADER
.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: #ffffff;
    
    &__top {
        flex: 1 1 auto;
    }

    &__bottom {
        background-color: #5474fd;
        text-transform: uppercase;
    }

    &__inner-top {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__inner-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
    }

    &__main-block {
       width: 100%;
       max-width: 650px;
    }

    &__text-block {
        min-width: 324px;
        padding: 0 5px;
        margin-bottom: 54px;
    }

    &__title {
        font-size: 48px;
        text-transform: uppercase;
    }

    &__description {
        font-size: 22px;
        letter-spacing: 4px;
        font-weight: 300;
    }

    &__logo {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        font-weight: 700;
    }

    // HADER NAVIGATION
    &__nav {
        position: relative;
        display: flex;
        justify-content: flex-end;
        min-width: 540px;

        @include tablet-screen() {
            width: 100%;
            min-width: unset;
        }
    }


    // modifier
    &--background_img-01 {
        background-image: url('../images/image-bg-01.jpg');
        @include background-cover-norepeat();
        background-position: top left;
    }

}



//NAVIGATION
.nav-toggler {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    
    // ACTION
    &:hover {
        background-color: #6880e8;
    }
    
    @include tablet-screen() {
        display: flex;
    }
}

.hamburger-icon {
    fill: #ffffff;
}


// NAV-CHECKBOX and :checked in Navigation
.nav-checkbox {
    position: absolute;
    top: -999999px;
    left: -999999px;
    visibility: hidden;
    opacity: 0;
    
    &:checked ~ .nav {
        display: flex;
        flex-direction: column;
        position:absolute;
        top: 0;
        right: 0;
        transform: translate(0, -100%);
        background-color: #6880e8;
        max-width: 200px;
    }
    
    &:checked ~ .nav-toggler {
        background-color: #6880e8;
    }
}


// NAV
.nav {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    width: 100%;
    font-family: 'Aleo', serif;
    font-size: 14px;
    
        
    @include tablet-screen() {
        display: none;
    }
    
    //NAV ITEM
    &__item {
        padding: 10px 5px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
              
        // ACTION
        &:hover {
            border-color: #ffffff;
            border-color: #ffffff;
        }
    }
    
    // NAV link
    &__link {
        text-decoration: none;
        color: #ffffff;
    }
}

// BUTTON (property primary)
.btn {
  min-width: 224px;
  padding: 20px 5px;
  background-color:#5474fd;
  color:white;
  font-family: 'Aleo', serif;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.4);
  }
}


// SEARCH FORM
.search-form {
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;
    width: 100%;
    border: none;
 
    &__button {
      min-width: 150px;
      padding: 20px 5px;
      font-size: 14px;
      border: 1px solid #ffffff;
    }

    &__input {
      /* Tell the input to use all the available space */
      flex-grow: 1;
      border: none;
      text-align: center;
      font-size: 14px;
      color: #5d5d5d;
      
  
        &::placeholder {
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 14px;
            letter-spacing: 3px;
            opacity: 0.5;
        }
        
        &:focus {
            /* removing the input focus blue box. Put this on the form if you like. */
            outline: none;
            box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.3);
        }
    }
    
}


// MAIN

.main {
    
    &__section-inner {
        display: flex;
        justify-content: space-between;
        height: 100%;
        color: #ffffff;
    }

 
    // LEFT Section
    &__section-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding-right: 15px;
    }
    
    // RIGHT Section
    &__section-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding-left: 15px;
    }

    &__title {
        margin-bottom: 50px;
        font-family: 'Aleo', serif;
        font-size: 36px;
        font-weight: 400;

        @include tablet-screen() {
            font-size: 30px;
        }
    }
    
    &__text {
        margin-bottom: 20px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 2px;
        font-weight: 300;
        opacity: 0.6;

        @include laptop-screen() {
            line-height: unset;
        }
    }
    
    &__gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    // MAIN section
    &__section {
        height: 100vh;
    
        // modifier
        &--background_img-02 {
            background-image: url('../images/image-bg-02.jpg');
            @include background-cover-norepeat();
            background-position: top left;
        }
    
        &--background_img-03 {
            background-image: url('../images/image-bg-03.jpg');
            @include background-cover-norepeat();
            background-position: center;
        }
        
        &--background_img-04 {
            background-image: url('../images/image-bg-04.jpg');
            @include background-cover-norepeat();
            background-position: center;
        }
    
        &--background_img-05 {
            background-image: url('../images/image-bg-05.jpg');
            @include background-cover-norepeat();
            background-position: top left;
         }
    }
}



.gallery {
    &__item {
        max-width: 350px;
    }
    
    &__picture {
        width: 100%;
    }

    &__item--shift_left {
        margin-right: 100px;
    }

    &__item--shift_right {
        margin-left: 100px;
   }
}






