$screen-lg: 992px;
$screen-md: 768px;
$screen-sm: 576px;


// screen size
@mixin laptop-screen {
    @media screen and (max-width: $screen-lg) {
        @content;
    }
}
// screen size
@mixin tablet-screen {
    @media screen and (max-width: $screen-md) { 
        @content;
    }
}
// screen size
@mixin mobile-screen {
    @media screen and (max-width: $screen-sm) {
        @content;
    }
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

//default width for content
.wrapper {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;

    @include laptop-screen() {
        max-width: 760px;
    }

    @include tablet-screen() {
        max-width: 560px;
    }

    @include mobile-screen() {
        max-width: 480px; 
    }
}

.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    color: #ffffff;
    
    &__top {
        flex: 1 1 auto;
    }

    &__bottom {
        background-color: #5474fd;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }

    &__main-block {
        max-width: 650px;
    }

    &__text-block {
        margin-bottom: 54px;
    }

    &__title {
        text-transform: uppercase;
    }

    //rename later )))
    &--position_center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }


    // modifier
    &--background_img {
        background-image: url('../images/Image-bg-01.jpg');
        background-position: top left;
        background-size: cover;
        background-repeat: no-repeat;
    }

}




