* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body {
    height: 100%;
}

/* BACKGROUND PAGES */
.wrapper-page {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
}

.wrapper-page__first {
    position: relative;
    background-image: url('../images/image-01.1.jpg');
    height: 100%;
}

.wrapper-page__second {
    background-image: url('../images/image-02.jpg');
    height: 100%;
}


/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    padding: 46px 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

/* NAVIGATION */
.nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.nav__item {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 20px;
}

.nav__link {
    text-decoration: none;
    color: #000000;
    padding: 5px 0;
}

/* MAIN */
.main {
    display: flex;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.main__description {
    padding-top: 100px;
}

.main__title {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 34px;
}

.main__text {
    max-width: 370px;
    margin-bottom: 34px;
    font-size: 17px;
    font-weight: 300;
}

/* button */
.btn {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    background: #ff6033;
    color: #ffffff;
    padding: 20px 25px;
}

.scroll-icon {
    position: absolute;
    bottom: 64px;
    left: 50%;
    transform: translateX(-50%);
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 1200px;
    margin: 0 auto;
    color: #ffffff;
}

.footer__description {
    padding-top: 150px;
}


.footer__title {
    font-size: 90px;
    font-weight: 700; 
    margin-bottom: 30px;
}

.footer__text {
    max-width: 500px;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 300;
}


/* ACTIONS */
.nav__item:hover .nav__link {
    border-top: 3px solid #ff6033;
}

