* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body {
    height: 100%;
}

/* BACKGROUND PAGES */
.background-page {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
}

.background-page__first {
    position: relative;
    background-image: url('../images/image-01.1.jpg');
    height: 100%;
}

.background-page__second {
    background-image: url('../images/image-02.jpg');
    height: 100%;
}

/* PAGES WRAPPERS */
.wrapper-first {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1200px;
    padding-top: 40px;
    margin: 0 auto;
}

.wrapper-second {
    display: flex;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

/* NAVIGATION */
.nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.nav__item {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 20px;
}

.nav__link {
    text-decoration: none;
    color: #000000;
    padding: 5px 0;
}

/* MAIN */
.main {
    display: flex;
    align-items: center;
    padding: 0 15px;
    flex: 1;
}

.main__description {
    width: 370px;
}

.main__title {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 34px;
}

.main__text {
    max-width: 370px;
    margin-bottom: 34px;
    font-size: 17px;
    font-weight: 300;
}

/* button */
.btn {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 20px 25px;
}

.main__btn {
    background: #ff6033;
    color: #ffffff;
}

.scroll-icon {
    position: absolute;
    bottom: 64px;
    left: 50%;
    transform: translateX(-50%);
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    color: #ffffff;
    padding: 0 15px;
}

.footer__description {
    width: 500px;
}

.footer__title {
    font-size: 90px;
    font-weight: 700; 
    margin-bottom: 30px;
}

.footer__text {
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 300;
}


/* ACTIONS */
.nav__item:hover .nav__link {
    border-top: 3px solid #ff6033;
}

