* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer {
    padding: 120px 5px 38px 5px;
    background: #121116;
    color: white;
    text-align: center;
}


/* Footer (header) */

header {
    margin-bottom: 50px;
}

.logo-footer {
    display: block;
    max-width: 200px;
    margin: 0 auto;
}


/* Footer (main) */

main {
    margin: 5px 0;
}

.phrase {
    text-transform: uppercase;
    font-family: 'Open Sans semibold', sans-serif;
    margin-bottom: 20px;
}

hr {
    width: 230px;
    margin:5px auto 20px auto;
}


li {
   display: inline-block;
   width: 40px;
   
}


/* Footer (footer) */

.signature {
    display: block;
    font-family: 'Open Sans', sans-serif;
    margin-top: 86px;
}

span a {
    color: #19c8fa;
    text-decoration: none;
}