* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
	background-color: #e2e7eb;
}

/* block ul */
.list-items {
    display: flex;
    flex-wrap: wrap;
    max-width: 1120px;
    font-size: 0;
    background-color: grey;
}

/* ITEM */
.item {
    display: flex;
    width: 33.33%;
}

/*added block into ITEM */
.item-content {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    background-color: #ffffff;
    margin: 10px 10px;
}


main {
    flex: 1;
}

.image-wrapper {
    max-width: 360px;
}

.item--wide {
    width: 66.66%;
}


.image-wrapper {
    margin-bottom: 18px;
}


.item-title {
    padding: 0 5px 10px 10px;
    margin-bottom: 30px;
}

.calendar {
    padding: 0 0 10px 10px;
    margin-bottom: 22px;
}

footer {
    padding: 0 0 10px 10px;
}

/* wide item */
.item-main-image {
    background-image: url('../images/image-main.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    color: #ffffff;
}

.extra {
    flex: 1;
}
 
.title-main {
    padding: 0 5px 10px 10px;
}



