* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
	background-color: #e2e7eb;
}

/* block ul */
.list-items {
    display: flex;
    flex-wrap: wrap;
    max-width: 1120px;
    font-size: 0;
}

/* ITEM */
.item {
    display: flex;
    max-width: 33.33%;
    padding: 10px;
}

/*added block into ITEM */
.item-content {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    background-color: #ffffff;
}

main {
    flex-grow: 1;
}

.image-wrapper {
    margin-bottom: 18px;
}

.picture {
    width: 100%;
}

.item-title {
    padding: 0 5px 10px 10px;
    margin-bottom: 30px;
}

.calendar {
    padding: 0 0 10px 10px;
    margin-bottom: 22px;
    opacity: 0.7;
}

footer {
    padding: 0 0 10px 10px;
}

/* item WIDE */
.item--wide {
    max-width: 66.66%;
    margin: 0; 
 }

 header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.item-main-image {
    background-image: url('../images/image-main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
}

.title-main {
    padding: 0 5px 10px 10px;
}





